## for PROD
NEXTAUTH_SECRET=AX6yHYO63q0sDElcoPPZWYgvI5qdAjJ5
DATABASE_URL=
NEXT_PUBLIC_API_BASE_URL=https://ai4cpecat.pangeanic.com
NEXTAUTH_URL=https://ai4cpecat.pangeanic.com
NEXT_PUBLIC_TM_HOST=https://ai4cpecat.pangeanic.com/api-tm
SEGMENTED_TEXTS_HOST=http://prodeuropeana.pangeamt.com:8080
MT_TEXTS_HOST=http://prodeuropeana.pangeamt.com:8080/NexRelay/v1/translate
OXIGEN_API_HOST=https://api.pangeanic.com/oxygen
MINT_CLIENT_ID=
MINT_CLIENT_SECRET=
MTQE=https://api.pangeanic.com/module/mtqe_score/process_list